# Ignore compiled files
WEB-INF/classes/
*.class

# Ignore IDE/project files
*.iml
.idea/
.DS_Store

# Ignore log files and temporary stuff
*.log
*.tmp

# Ignore Tomcat-specific files
work/
logs/


*.war
*.jar
out/
